---
name: Build and Test
"on":
  push:
    branches:
      - "*"
    tags:
      - r*
  pull_request:
    branches:
      - "*"
  workflow_call:
jobs:
  style:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"
      - name: Check style
        run: go run mage.go style

  # lint:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v2
  #     - name: Setup Go
  #       uses: actions/setup-go@v6
  #       with:
  #         go-version: "1.25"
  #     - name: Lint
  #       run: go run mage.go lint
  #     - name: Publish Linter Reports
  #       uses: mikepenz/action-junit-report@v4
  #       if: always() # always run even if the previous step fails
  #       with:
  #         report_paths: '.junit/*.xml'

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"
      - name: Test
        run: go run mage.go test
      - name: Merge Coverage Files
        run: go run mage.go coverage
      - name: Coveralls
        uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: .cover.out
